#myfooterstyle {
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 31px;
}

.socialLogo {
  color: white;
  font-size: 35px;
  opacity: 0.6;
  margin: 0px 10px;

  &:hover {
    color: white;
    opacity: 1;
  }
}
